
@{
    ViewBag.Title = "hiddenPalindrome";

    // Presents information about the total number of letters of the longest palindrome of the word
}

<h2>hiddenPalindrome</h2>

<p>The total number of letters of the longest palindrome is: @ViewBag.Palindrome</p>
