
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/J3/hiddenPalindrome" method="GET">
    <div>
        <label for="word">Word:</label>
        <input type="text" name="word" id="word"/>
    </div>
    <div>
        <input type="submit" />
    </div>
</form>